* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0;
}

p {
    color: black;
}

a{
    text-decoration: none;
    color:black;
}

a:active{
    color: white;
}

.menu {
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: #87CEFA;
    display: flex;
}

.img_icon {
    height: 75px;
    width: 75px;
    padding: 0px 10px 0px 10px;
}

.left_menu {
    position: absolute;
    right: 15px;
    display: flex;
}

.mlmenu {
    display: none;
}

.left_menu__text {
    font-family: 'Jura', sans-serif;
    font-size: 35px;
    margin: 15px;
    text-align: center;
}

#lmt_end {
    line-height: 0.8;
    margin-top: 5px;
    width: 250px;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://cdn.discordapp.com/attachments/985148568513949787/987425890625527859/unknown.png")  no-repeat;
    width: 90%;
    height: 555px;
    margin: auto;
    margin-top: 25px;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 35px;
    margin-bottom: 15px;
}

.mimg {
    height: 500px;
    margin: auto;
    border-radius: 35px;
}

.playnow {
    font-family: 'Jura', sans-serif;
    width: 356px;
    height: 73px;
    border-radius: 25px;
    background-color: #87d7fa8c;
    border: none;
    font-size: 35px;
    text-align: center;
}

.playnow:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.end {
    background-color: #6D9BB8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    position: absolute;
    bottom: 0px;
}

.end_icon {
    color: white;
    margin: 10px;
    font-size: 35px;
}

.report {
    height: 70px;
    width: 70px;
    background-color: #87CEFA;
    border-radius: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    color: white;
    font-size: 52px;
}

.report-hide {
    display: none;
    height: 400px;
    width: 320px;
}

.report-hide::-webkit-scrollbar {
    width: 0;
}

.report:hover > .rhide {
    display: none;
}

.report:hover > .report-hide {
    display: flex;
}

.report:hover {
    display: flex;
    margin-right: 0px;
    height: 410px;
    width: 320px;
    border-radius: 10px;
}

.report-form {
    margin-left: 10px;
}

.fa-circle-question {
    margin-top: 10px;
}






@media only screen and (min-width: 320px) and (max-width: 1024px){
    .left_menu {
        display: none;
    }
    .menu {
        justify-content: center;
        border-radius: 0px;
    }
    .mlmenu {
        display: flex;
        width: 100%;
        height: 55px;
        background-color: #87CEFA;
        justify-content: center;
    }
    .left_menu__text {
        font-size: 25px;
        position: relative;
        color: white;
        margin: 15px 55px 0px 5px;
        margin-left: 90px;
    }
    #lmt_end {
        margin-left: -20px;
        width: 140px;
    }
    .main {
        height: 500px;
        margin-top: 10px;
        margin-bottom: 75px;
    }
    .playnow {
        width: 100%;
    }
    .ptext {
        margin-left: 50px;
        margin-right: 50px;
    }
    .end {
        position: fixed;
        bottom: 0px;
    }
}
